@use "sass:map";

// 文字フォント
$font-family-ja: "Noto Sans JP";
$font-family-en: "Montserrat";

// バックグラウンドカラー
$background-base: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);
$background-button: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);

// カラー
$color-base: #333;

// ブレイクポイント
$sp-width: 428px;
$tab-width: 834px;
$pc-width: 1280px;
// $breakpoints: (
//   "sp": "screen and (max-width: #{$sp-width})",
//   "tab":
//     "screen and (min-width: #{$sp-width + 1px}) and (max-width: #{$tab-width})",
//   "pc": "not screen and (max-width: #{$sp-width})",
// );
$breakpoints: (
  "sp": "screen and (max-width: #{$tab-width - 1px})",
  "tab":
    "screen and (min-width: #{$tab-width}) and (max-width: #{$pc-width - 1px})",
  // "pc": "screen and (min-width: #{$pc-width})",
  "pc": "screen and (min-width: #{$sp-width + 1px})",
);
@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ボディ
body {
  font-family: $font-family-en, $font-family-ja, sans-serif;
  background: $background-base;
  background-repeat: no-repeat;
}

// 共通クラス
.heading {
  @include mq("pc") {
    display: flex;
    align-items: center;
  }
}

.title-underline {
  position: relative;
  color: #238fdc;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 170%; /* 51px */
  letter-spacing: 3px;

  @include mq("pc") {
    font-size: 36px;
    letter-spacing: 3.6px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #2bc8c8;
    bottom: -9px;
    transform: translateX(-52%);
    left: 50%;

    @include mq("pc") {
      bottom: -2px;
      transform: translateX(-50%);
    }
  }
}

.link__button {
  text-align: center;
  margin-top: 30px;

  @include mq("pc") {
    margin-top: 0;
  }

  a {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #2392db;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    padding: calc(5px - 1px) calc(24px - 1px); //ボーダー分をマイナス
    color: #2392db;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7; /* 27.2px */
    letter-spacing: 3px;
  }
}

.heading-en {
  width: fit-content;
  height: 61px;
  line-height: 61px; // 垂直方向中央寄せをする為に指定
  color: #228ddd;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.heading-ja {
  width: fit-content;
  height: 24px;
  line-height: 24px; // 垂直方向中央寄せをする為に指定
  color: #228bde;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;

  @include mq("pc") {
    margin-left: 28px;
  }
}

// ヘッダー パターン1
// .header {
// }

// .header__inner {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 24px 15px;

//   @include mq("pc") {
//     padding: 23px 40px;
//   }
// }

// .header__logo {
//   width: 160px;
// }

// .header__open {
//   @include mq("pc") {
//     display: none;
//   }
// }

// .drawer-icon {
//   position: relative;
//   width: 40px;
// }

// .header__nav {
//   display: none;

//   @include mq("pc") {
//     display: flex;
//     align-items: center;
//     gap: 44px;
//   }
// }

// .header__link {
//   position: relative;
//   color: $color-base;
//   font-weight: 500;
//   line-height: 1.7;
//   height: 27px;

//   &:hover {
//   }

//   &:nth-of-type(1) {
//     margin-right: 2px;
//     width: 76px;
//   }
//   &:nth-of-type(2) {
//     width: 96px;
//   }
//   &:nth-of-type(3) {
//     width: 48px;
//   }
//   &:nth-of-type(4) {
//     width: 64px;
//   }
// }

// .header__line {
//   position: absolute;
//   top: -32px;
//   left: -23px;
//   width: 122px;
//   height: 5px;
//   background: #2082df;
// }

// .header__nav-register {
//   display: none;

//   @include mq("pc") {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

// .register-button {
//   padding: 9px 54px;
//   width: calc(92px + 54px * 2);
//   height: calc(27px + 9px * 2);
//   color: #f6f7f7;
//   font-size: 16px;
//   font-weight: 700;
//   letter-spacing: 3px;
//   line-height: 1.7;
//   border-radius: 48px;
//   background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
//   box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
// }

// .blog-button {
//   padding: 9px 54px;
//   width: calc(111px + 54px * 2);
//   height: calc(27px + 9px * 2);
//   color: #f6f7f7;
//   font-size: 16px;
//   font-weight: 700;
//   letter-spacing: 3px;
//   line-height: 1.7;
//   border-radius: 48px;
//   background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
//   box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
// }

// ヘッダー パターン2
// .header {
// }

// .header__inner {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 24px 15px;

//   @include mq("pc") {
//     padding: 23px 40px;
//   }
// }

// .header__logo {
//   width: 160px;
// }

// .header__open {
//   @include mq("pc") {
//     display: none;
//   }
// }

// .drawer-icon {
//   position: relative;
//   width: 40px;
// }

// .header__nav {
//   display: none;

//   @include mq("pc") {
//     display: flex;
//     align-items: center;
//     gap: 44px;
//   }
// }

// .header__link {
//   position: relative;
//   color: $color-base;
//   font-weight: 500;
//   line-height: 1.7;
//   height: 27px;

//   &:hover {
//   }

//   &:nth-of-type(1) {
//     margin-right: 2px;
//     width: 76px;
//   }
//   &:nth-of-type(2) {
//     width: 96px;
//   }
//   &:nth-of-type(3) {
//     width: 48px;
//   }
//   &:nth-of-type(4) {
//     width: 64px;
//   }
// }

// .header__line {
//   position: absolute;
//   bottom: -23px;
//   left: -23px;
//   width: 122px;
//   height: 5px;
//   background: #2082df;
// }

// .header__button {
//   padding: 9px 52px;
//   width: 200px;
//   height: 45px;
//   color: #f6f7f7;
//   font-size: 16px;
//   font-weight: 700;
//   letter-spacing: 3px;
//   line-height: 1.7;
//   border-radius: 48px;
//   background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
//   box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
// }

// ヘッダー パターン3
.header {
}

.header__inner {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: space-between;
  padding: 22px 15px;

  @include mq("pc") {
    padding: 23px 40px;
    flex-direction: column;
  }
}

.header__logo {
  width: 160px;
}

.header__open {
  @include mq("pc") {
    display: none;
  }

  @include mq("tab") {
    display: none;
  }
}

.drawer-icon {
  position: relative;
  width: 40px;
  height: 20px;
  z-index: 101;
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  background-size: contain;

  transition: background-image 0.3s;

  &.is-checked {
    width: 28px;
    height: 28px;
    background-image: url(../img/close_x.png);
  }
}

.header__nav {
  display: none;

  @include mq("pc") {
    display: flex;
    align-items: center;
    gap: 44px;
  }

  @include mq("tab") {
    display: flex;
    align-items: center;
    gap: 44px;
  }
}

.header__link {
  position: relative;
  color: $color-base;
  font-weight: 500;
  line-height: 1.7;
  height: 27px;

  &:hover {
  }

  &:nth-of-type(1) {
    margin-right: 2px;
    width: 80px;
  }
  &:nth-of-type(2) {
    width: 96px;
  }
  &:nth-of-type(3) {
    width: 48px;
  }
  &:nth-of-type(4) {
    width: 64px;
  }
}

.header__line {
  position: absolute;
  bottom: calc(-5px + -7px);
  left: -23px;
  width: 122px;
  height: 5px;
  background: #2082df;
}

.button {
  display: inline-block;
  padding: 9px 54px;
  // width: calc(92px + 54px * 2);
  // height: calc(27px + 9px * 2);
  color: #f6f7f7;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.7;
  border-radius: 48px;
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
}

// .register-button {
//   padding: 9px 54px;
//   width: calc(92px + 54px * 2);
//   height: calc(27px + 9px * 2);
//   color: #f6f7f7;
//   font-size: 16px;
//   font-weight: 700;
//   letter-spacing: 3px;
//   line-height: 1.7;
//   border-radius: 48px;
//   background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
//   box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
// }

// .blog-button {
//   padding: 9px 54px;
//   // width: calc(111px + 54px * 2);
//   // height: calc(27px + 9px * 2);
//   color: #f6f7f7;
//   font-size: 16px;
//   font-weight: 700;
//   letter-spacing: 3px;
//   line-height: 1.7;
//   border-radius: 48px;
//   background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
//   box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
// }

// ドロワーメニュー
.drawer {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(34, 142, 221, 0.9) 0%,
    rgba(43, 198, 201, 0.9) 100%
  );
  z-index: 100;

  &.is-checked {
    display: block;
  }
}

.drawer__nav {
  padding: 130px 124px 10px;
  text-align: center;
}

.drawer__logo {
  img {
    width: 180px;
  }
}

.drawer__links {
  margin-top: 60.05px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.drawer__link {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%; /* 34px */
}

// メインビジュアル
.mv {
  margin-top: 20px;
  margin-bottom: 80px;
}

.mv__inner {
  padding: 0 15px;

  @include mq("pc") {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 83px;
    padding-right: 80px;
    max-width: calc($pc-width - 80px * 2);
    margin: 0 auto;
  }
}

.mv__img {
  img {
    width: 650px;
  }

  @include mq("tab") {
    display: flex;
    align-items: center;
  }

  @include mq("pc") {
    width: calc(650px / 1120px * 100%);
    margin-top: 30px;
  }
}

.mv__content {
  margin-top: 40px;

  @include mq("pc") {
    width: 365px;
    margin-top: 96px;
  }
}

.mv__logo {
  text-align: center;

  @include mq("pc") {
    text-align: left;
  }

  img {
    width: 250px;
  }
}

.mv__title {
  margin-top: 20px;
  color: #2b2b2b;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;

  @include mq("pc") {
    text-align: left;
    font-size: 26px;
  }
}

.mv__description {
  margin-top: 20px;
  color: #333;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 2;

  @include mq("pc") {
    text-align: left;
  }
}

.mv__register {
  margin-top: 30px;
  text-align: center;

  @include mq("pc") {
    text-align: left;
  }
}

// ブログ
.blog {
  padding: 60px 0;

  @include mq("pc") {
    padding: 100px 0;
  }
}

.blog__inner {
  padding: 0 30px;

  @include mq("pc") {
    padding: 0 80px;
  }
}

.blog__list {
  margin-top: 46px;

  @include mq("tab") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 34px;
  }

  @include mq("pc") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 32px;
    margin-top: 40px;
  }
}

.blog__item {
  padding: 12px 15px 16px;
  border-radius: 4px;
  background: var(--rgb-255255255, #fff);
  box-shadow: 5px 7px 34px 0px #f1f1f1;
}

.blog__item + .blog__item {
  margin-top: 16px;

  @include mq("tab") {
    margin-top: 0;
  }

  @include mq("pc") {
    margin-top: 0;
  }
}

.blog__img {
  position: relative;
}

.blog__label {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(36px + 32px * 2);
  height: calc(18px + 3px * 2);
  padding: 3px 32px;
  background: #2392db;
  color: var(--rgb-255255255, #fff);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.blog__title {
  margin-top: 6px;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  line-height: 170%; /* 25.5px */
}

.blog__description {
  margin-top: 4px;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  line-height: 170%; /* 22.1px */
}

.blog__button {
  margin-top: 46px;
  text-align: center;

  @include mq("tab") {
    margin-top: 58px;
  }

  @include mq("pc") {
    margin-top: 58px;
    margin-left: 23px;
    // left: calc(540px / 1280px * 100%);
  }

  a {
    display: inline-block;
  }
}

// NEWS
.news {
  padding: 60px 0;

  @include mq("pc") {
    padding: 100px 0;
  }
}

.news__inner {
  padding: 0 15px;

  @include mq("pc") {
    padding: 0 calc(175px / 1280px * 100%);
  }
}

// .news__title {
//   position: relative;
//   color: #238fdc;
//   text-align: center;
//   font-size: 30px;
//   font-weight: 700;
//   line-height: 170%; /* 51px */
//   letter-spacing: 3px;

//   @include mq("pc") {
//     font-size: 36px;
//     letter-spacing: 3.6px;
//   }

//   &::after {
//     position: absolute;
//     content: "";
//     width: 60px;
//     height: 3px;
//     background: #2bc8c8;
//     bottom: -9px;
//     transform: translateX(-52%);
//     left: 50%;

//     @include mq("pc") {
//       bottom: -2px;
//       transform: translateX(-50%);
//     }
//   }
// }

.news__list {
  margin-top: 55px;

  @include mq("pc") {
    margin-top: 65px;
  }
}

.news__item {
  padding: 10px 0 11px;

  @include mq("pc") {
    padding: 12px 0;
  }

  // &:first-child {
  //   padding: 10px 0 12px;
  // }
  // &:last-child {
  //   padding: 9px 0 9px;
  // }
}

.news-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e3e3e3;

  @include mq("pc") {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.news-item__date {
  color: #333;
  font-family: "Noto Sans JP";
  font-size: 14px;
  line-height: 170%; /* 23.8px */
  // height: 24px;

  @include mq("pc") {
    width: 119px;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
  }
}

.news-item__title {
  color: #111;
  font-family: "Noto Sans JP";
  font-size: 15px;
  line-height: 170%; /* 25.5px */
  // height: 26px;

  @include mq("pc") {
    font-size: 16px;
    font-weight: 400;
  }
}

.news__link {
  @include mq("pc") {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.news__page-link {
  display: flex;
  margin-top: 46px;
  gap: 20px;
  justify-content: center;

  @include mq("pc") {
    margin-top: 0;
  }
}

.news__prev,
.news__next {
  width: 36px;
}

.news__page-num {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--828282, #828282);
  background: var(--ffffff, #fff);
  width: 36px;
  color: #707070;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  letter-spacing: 1.44px;
}

// .news__all {
//   text-align: center;
//   margin-top: 30px;

//   @include mq("pc") {
//     margin-top: 0;
//   }

//   a {
//     display: inline-block;
//     border-radius: 2px;
//     border: 1px solid #2392db;
//     box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
//     padding: calc(5px - 1px) calc(24px - 1px); //ボーダー分をマイナス
//     color: #2392db;
//     font-family: "Noto Sans JP";
//     font-size: 16px;
//     font-weight: 700;
//     line-height: 1.7; /* 27.2px */
//     letter-spacing: 3px;
//   }
// }

// コンセプト
.concept {
  padding: 60px 0;
  background: #f4fbff;

  @include mq("pc") {
    padding: 100px 0;
  }
}

.concept__inner {
  padding: 0 20px;

  @include mq("pc") {
    padding: 0 calc(150px / 1280px * 100%);
    display: flex;
    justify-content: center;
    gap: 80px;
  }
}

.concept__image {
  text-align: center;

  img {
    width: 310px;

    @include mq("pc") {
      width: 450px;
    }
  }
}

.concept_content {
  @include mq("pc") {
    width: calc(450px / 980px * 100%);
    margin-top: 39px;
  }
}

.concept__heading {
  margin-top: 33px;
  color: #228ddd;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7; /* 40.8px */

  @include mq("pc") {
    margin-top: 0;
    letter-spacing: 2px;
    line-height: 1.8;
  }
}

.concept__description {
  margin-top: 30px;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 2; /* 30px */
}

.concept__button {
  margin-top: 28px;
  text-align: center;
  transform: translateX(-13px);

  @include mq("pc") {
    margin-top: 36px;
    text-align: left;
  }
}

.concept-button {
  display: inline-block;
  padding: 9px 54px;
  color: #f6f7f7;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7; /* 27.2px */
  letter-spacing: 3px;
  border-radius: 48px;
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);

  @include mq("pc") {
    transform: translateX(13px);
  }
}

// SEMINAR
.seminar {
  padding: 60px 0;

  @include mq("pc") {
    padding: 100px 0;
  }
}

.seminar__inner {
  padding: 0 15px;

  @include mq("pc") {
    padding: 0 100px;
  }
}

.seminar__heading {
  padding-left: 15px;

  @include mq("pc") {
    padding-left: 0;
  }
}

.seminar__boxes {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include mq("pc") {
    align-items: center;
  }
}

.seminar__box {
  padding: 24px 12px 30px;
  border-radius: 6px;
  // border: 0px solid #707070;
  // background: var(--rgb-255255255, #fff);
  border: 0px solid #1a1919;
  background: var(--rgb-255255255, #d39a9a);
  box-shadow: 5px 7px 34px 0px #f1f1f1;

  @include mq("pc") {
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 1080px;
  }
}

.seminar__image {
  text-align: center;

  @include mq("pc") {
    width: calc(324 / (1032 - 30) * 100%);
  }

  img {
    width: 324px;
  }
}

.seminar__content {
  margin-top: 22px;

  @include mq("pc") {
    margin-top: 2px;
    width: calc(678 / (1032 - 30) * 100%);
  }
}

.seminar-content {
}

.seminar-content__meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.seminar-content__label {
  padding: 6px 12px 5px;
  color: var(--rgb-255255255, #fff);
  font-size: 12px;
  font-weight: 700;
  line-height: 100%; /* 12px */
  border-radius: 2px;
  background: #2392db;
}

.seminar-content__date {
  color: var(--rgb-515151, #333);
  font-size: 16px;
  font-family: $font-family-ja;
  font-weight: 500;
  line-height: normal;
}

.seminar-content__title {
  margin-top: 14px;
  color: var(--rgb-515151, #333);
  font-size: 20px;
  font-weight: 700;
  // line-height: normal;

  @include mq("pc") {
    font-size: 20px;
  }
}

.seminar-content__description {
  margin-top: 14px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7; /* 23.8px */
}

.seminar__button {
  margin-top: 26px;
  text-align: right;

  a {
    padding: 8px 44px;
    color: #2392db;
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7; /* 23.8px */
    letter-spacing: 0.01em;
  }
}

// PRICE
.price {
  padding: 60px 0;
  background: #f4fbff;

  @include mq("pc") {
    padding: 100px 0;
  }
}

.price__inner {
  padding: 0 30px;

  @include mq("pc") {
    padding: 0 100px;
  }
}

.price__heading {
}

.price__boxes-container {
  max-width: 1069px;
  margin: 0 auto;
}

.price__boxes {
  margin-top: 46px;
  margin-right: 34px;
  margin-left: 34px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq("pc") {
    // width: 100%;
    max-width: 960px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
  }
}

.price__box {
}

.price-box {
  border-radius: 10px;
  border: 0px solid #707070;
  background: var(--rgb-255255255, #fff);
  // background: rgb(196, 255, 196); // 一時的にみやすくする用
  padding: 30px 20px 30px 19px;
}

.price-box__title {
  text-align: center;
  color: #2392db;
  font-size: 20px;
  font-weight: 700;
}

.price-box__price {
  margin-top: 10px;
  font-family: $font-family-ja;
  text-align: center;
  color: #2392db;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: 3.6px;

  span {
    color: var(--rgb-515151, #333);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7; /* 27.2px */

    &:nth-child(1) {
      margin-left: 4px;
    }

    &:nth-child(2) {
      margin-right: 4px;
    }
  }
}

.price-box__table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7; /* 27.2px */

  tr {
    border-bottom: 1px solid #c2c2c2;
    padding: 6px 12px;
  }

  th {
    text-align-last: left;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 12px;
  }

  td {
    text-align: right;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 12px;
  }
}

.price__button {
  margin-top: 30px;
  text-align: center;
}

// CTA
.cta {
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  padding: 60px 0;

  @include mq("pc") {
    padding-top: 80px;
    padding-bottom: 79px;
  }
}

.cta__inner {
  padding: 0 30px;

  @include mq("pc") {
    padding: 0 10px;
  }
}

.cta__content {
  text-align: center;
}

.cat__heading {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.7; /* 44.2px */
  letter-spacing: 2.6px;
}

.cta__text {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7; /* 27.2px */
  letter-spacing: 1.6px;
}

.cta__button {
  margin-top: 17px;

  a {
    border-radius: 50px;
    border: 2px solid #fff;
    background: transparent;
    padding: 7px 52px;
  }
}

// Q&A
.qa {
  padding: 60px 0;
  background: #f4fbff;

  @include mq("pc") {
    padding-top: 100px;
    padding-bottom: 121px;
  }
}

.qa__inner {
  padding: 0 15px;

  @include mq("pc") {
    // padding: 0 240px;
    max-width: calc(800px + 15px * 2);
    margin: 0 auto;
  }
}

.qa__title {
  font-size: 36px;

  &::after {
    bottom: -4px;
  }
}

.qa__boxes {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mq("pc") {
    margin-top: 48px;
    gap: 20px;
  }

  // 最初のQ&Aはデフォルトで開いておく
  .qa__box {
    &:first-child {
      .qa-box__body {
        display: block;
      }
    }
  }
}

.qa__box {
  &.is-open {
    .qa-box__head-text {
      &::after {
        background-color: transparent; // 非表示の為背景を透明色
        transform: rotate(
          0deg
        ); // 回転アニメーションの為、横棒に被せて配置しておく
      }
    }
  }
}

.qa-box {
}

.qa-box__head {
  width: 100%;
  border-radius: 10px;
  border: 0px solid #707070;
  background: var(--rgb-255255255, #fff);
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: stretch;
}

.qa-box__head-icon {
  padding-bottom: 7px; // アイコン位置の微調整
  display: block;
  width: 50px;
  color: #fff;
  font-family: $font-family-ja;
  font-size: 26px;
  font-weight: 700;
  line-height: 1; /* 26px */
  border-radius: 10px 0px 0px 10px;
  background: #238fdc;
  flex-shrink: 0;

  // 垂直方向中央寄せ
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq("pc") {
    width: 71px;
  }
}

.qa-box__head-text {
  display: block;
  text-align: left;
  padding: 10px 42px 10px 10px;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7; /* 25.5px */
  flex-grow: 1;
  position: relative;

  @include mq("pc") {
    padding: 12px 55px 12px 14px;
    font-size: 16px;
  }

  // 開閉アイコン
  &::before,
  &::after {
    position: absolute;
    content: "";
    background-color: #2392db;
    width: 20px;
    height: 2px;
    right: 10px;
    top: 50%;

    @include mq("pc") {
      right: 14px;
    }
  }
  // 横棒の表現
  &::before {
    transform: translateY(-50%);
  }
  // 縦棒の表現
  &::after {
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.3s, background-color 0.3s;
  }
}

.qa-box__body {
  display: none;
  margin-top: 14px;
  margin-left: 20px;
  border-radius: 10px;
  background: #fff;

  @include mq("pc") {
    margin-top: 6px;
    margin-left: 41px;
  }
}

.qa-box__body-text {
  display: block;
  padding: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7; /* 23.8px */

  @include mq("pc") {
    padding: 12px 14px;
    font-size: 16px;
  }
}

// フッター
.footer {
  padding-top: 46px;
  padding-bottom: 11px;
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);

  @include mq("pc") {
    padding-top: 60px;
  }
}

.footer__inner {
  padding: 0 76px;

  @include mq("pc") {
    padding-left: calc(109 / 1280 * 100%);
    padding-right: calc(109 / 1280 * 100%);
    // padding-left: 10px;
    // padding-right: 10px;
  }
}

.footer__contents {
  text-align: center;

  @include mq("pc") {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}

.footer__company {
  margin-top: 4px;
}

.footer__logo {
  img {
    width: 160px;
  }
}

.footer__text {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include mq("pc") {
    margin-top: 16px;
  }
}

.footer__address {
  color: var(--ffffff, #fff);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.footer_tel,
.footer_fax {
  color: var(--ffffff, #fff);
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.footer__link {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mq("pc") {
    margin-top: 0;
    margin-left: 78px;
    flex-direction: row;
    gap: 50px;

    a + a {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 16px;
        border-left: 1px solid #fff;
        top: 3px;
        left: -26px;
        margin: auto;
      }
    }
  }

  a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7; /* 23.8px */
  }
}

.footer__sns {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;

  @include mq("pc") {
    margin-top: 0;
    padding-left: 87px;
  }

  a {
    img {
      width: 30px;
    }
  }
}

.footer__copyright {
  font-family: $font-family-ja;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 47px;
  color: var(--ffffff, #fff);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.001em;

  @include mq("pc") {
    margin-top: 69px;
  }
}
